*,
::before,
::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --primary-color: #000e34;
    --secondary-color: #2cabe1;
    --text-color: #9d9d9c;
    --light-grey: #ffffff;
}

@media screen and (min-width : 0px) {

    /*HEADER*/
    .header_wrapper {
        position: fixed;
        width: 100%;
        height: 100px;
        margin-top: 0px;
        margin-bottom: 0px;
        top: 0px;
    }

    .header_container {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header_logo {
        width: 58px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
    }

    .header_logo>a>img {
        width: 100%;
    }

    .header_bars {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
    }

    .header_bars > i{
        font-size: 2rem;
        border-radius: 12px;
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        padding: 10px;
    }

    /*PRÉSENTATION*/
    .presentation_wrapper{
        position: absolute;
        top: 100px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .presentation_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .presentation_img{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .presentation_img > img{
        width: 80%;
    }

    .presentation_text{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .presentation_text > h1{
        text-align: center;
        color: var(--secondary-color);
        margin: 20px;
    }
}